# Model Evaluation

### First need to set up Model

Run the code that sets up model

In [116]:
import pandas as pd

#import GPUtil

import argparse
import json
import logging
import os

import torch
import torch.distributed as dist
import torch.nn as nn
import torch.nn.functional as F
import torch.nn.parallel
import torch.optim
import torch.utils.data
import torch.utils.data.distributed
#import torchvision
#import torchvision.models
#import torchvision.transforms as transforms

from typing import List
import numpy as np

## Set up logger to get details of errors
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

In [117]:
# k is for number of nodes in each hidden layer of NN
k = 1000

# For number of inputs (32 binary digits)
input_length = 32
output_length = input_length

# Model Parameters
epochs = 1
batch_size = 256
lr = 0.001
momentum = 0.9

device = "cuda" if torch.cuda.is_available() else "cpu"

In [118]:
class Generator(nn.Module):
    def __init__(self, output_length: int):
        super(Generator, self).__init__()
        self.dense_layer = nn.Linear(output_length, k)
        self.dense_layer2 = nn.Linear(k, k)
        self.dense_layer3 = nn.Linear(k, k)
        self.dense_layer4 = nn.Linear(k, output_length)

    def forward(self, x):
        l1 = self.dense_layer(x)
        l2 = self.dense_layer2(F.relu(l1))
        l3 = self.dense_layer3(F.relu(l2))
        l4 = self.dense_layer4(F.relu(l3))
        return F.sigmoid(l4)

In [119]:
generator = Generator(output_length)
generator = generator.to(device)

### Load in Trained Generator

In [108]:
generator.load_state_dict(torch.load('gen9.pt')["generator_state_dict"])

In [109]:
noise = torch.randint(0, 2, size=(batch_size, output_length)).float().to(device)

In [110]:
def extract(G_of_noise):

    G_numpy = G_of_noise.detach()   

    curves = []

    for i in range(len(G_numpy)):
        c1 = int(G_numpy[i][0].round())
        c2 = ((-1)**(int(G_numpy[i][1].round())))*(int(G_numpy[i][2].round()))
        c3 = int(G_numpy[i][3].round())
        c4 = (-1)**(int(G_numpy[i][4].round()))*(int("".join([str(int(y)) for y in G_numpy[i][5:18].round()]), 2))
        c6 = (-1)**(int(G_numpy[i][12].round()))*(int("".join([str(int(y)) for y in G_numpy[i][19:].round()]), 2))
    
        coef = [c1,c2,c3,c4,c6]
        curves.append(coef)
    return curves

### Check Results

In [114]:
extract(generator(noise))

/local/scratch/jcox22/anaconda3/envs/pytorch110/lib/python3.9/site-packages/torch/nn/functional.py:1806: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")

[[0, 0, 1, -3035, 6549],
 [0, 0, 1, -3657, 3229],
 [0, 0, 1, 2655, 155],
 [0, -1, 1, -2651, 2203],
 [0, 0, 1, 2429, -2195],
 [0, 0, 1, -2905, 6301],
 [0, 0, 1, -2911, 2207],
 [0, 0, 0, -2393, 2453],
 [0, 0, 1, 2907, 147],
 [0, -1, 1, 7007, 2205],
 [0, 0, 1, 6479, 159],
 [0, 0, 1, 2909, 3479],
 [0, 0, 0, -2639, 6301],
 [0, 0, 1, -2393, 3477],
 [0, 0, 1, -2907, 153],
 [0, -1, 1, -2891, 2201],
 [0, 0, 0, -2143, 4249],
 [0, 0, 1, 3679, 2205],
 [0, 0, 1, 2935, -1047],
 [0, 0, 1, -3675, 156],
 [0, -1, 1, -2523, 6551],
 [0, 0, 1, -2619, -151],
 [0, -1, 0, -2909, 6295],
 [0, 0, 0, 2431, -6299],
 [0, -1, 0, 2943, -3229],
 [0, 0, 1, -2907, 4249],
 [0, -1, 1, -2927, -6297],
 [0, 0, 1, -2393, 2197],
 [0, 0, 1, 3931, 6161],
 [0, 0, 0, -3931, 2205],
 [0, -1, 0, 6985, 5277],
 [0, 0, 1, -2911, 6301],
 [0, -1, 1, 2907, 2461],
 [0, 0, 1, 2427, -155],
 [0, 0, 0, -2911, 157],
 [0, 0, 1, 3929, 4247],
 [0, 0, 1, 3547, 6553],
 [0, 0, 0, 2685, -2201],
 [0, 0, 1, -2397, 6173],
 [0, 0, 0, 3935, 6293],
 [0, -1, 1, 3913, 6297],
 [0, -1, 1, -3417, 2193],
 [0, 0, 1, 2907, 1053],
 [0, 0, 0, -3935, 6303],
 [0, -1, 1, -3419, 6291],
 [0, 0, 1, -2905, 157],
 [0, -1, 0, -3935, 4499],
 [0, 0, 1, 2907, 4253],
 [0, 0, 0, 2681, -157],
 [0, -1, 1, 2943, -2195],
 [0, -1, 1, 2943, -155],
 [0, 0, 1, 2909, 6557],
 [0, 0, 1, 2687, -153],
 [0, -1, 1, -3403, 2201],
 [0, 0, 1, -2943, -2077],
 [0, 0, 0, 2907, 157],
 [0, 0, 1, -3167, 149],
 [0, 0, 0, 2655, 6301],
 [0, 0, 0, -6991, 157],
 [0, -1, 1, -2393, 3099],
 [0, -1, 0, -3675, 2205],
 [0, -1, 1, 3675, 157],
 [0, 0, 1, -3149, 2207],
 [0, 0, 1, 2909, 3217],
 [0, 0, 1, 2651, 2203],
 [0, 0, 1, 6495, 2207],
 [0, 0, 0, -3917, 2207],
 [0, 0, 0, -2395, 155],
 [0, 0, 0, -2637, 2197],
 [0, -1, 0, 2395, 7197],
 [0, 0, 0, -2943, -2205],
 [0, 0, 0, -2377, 2205],
 [0, 0, 1, -2941, -2207],
 [0, 0, 1, -3933, 6551],
 [0, 0, 1, -3931, 409],
 [0, 0, 1, -3421, 2201],
 [0, -1, 1, 2943, -6297],
 [0, 0, 0, -2893, 2073],
 [0, 0, 1, -2907, 6297],
 [0, 0, 1, -2891, 6301],
 [0, 0, 1, -2379, 6431],
 [0, 0, 1, -7513, 1177],
 [0, 0, 0, 3963, -4241],
 [0, 0, 1, -2939, -2193],
 [0, 0, 1, -2383, 149],
 [0, 0, 1, -2883, 3217],
 [0, 0, 1, -2651, 157],
 [0, -1, 1, 3929, 157],
 [0, 0, 0, -2381, 6297],
 [0, 0, 0, -2943, -2197],
 [0, 0, 1, -2889, 6175],
 [0, 0, 0, -2377, 6167],
 [0, 0, 0, -2139, 6297],
 [0, -1, 1, -2909, 157],
 [0, 0, 0, 3951, -2205],
 [0, 0, 1, 7017, -21],
 [0, 0, 1, 3675, 6299],
 [0, 0, 1, -2395, 145],
 [0, 0, 1, 3163, 2205],
 [0, -1, 1, -2427, -4253],
 [0, 0, 1, -2655, 145],
 [0, 0, 1, -4047, 2205],
 [0, 0, 0, -2907, 153],
 [0, 0, 0, -2397, 2069],
 [0, 0, 0, -2399, 2199],
 [0, -1, 1, 2905, 3231],
 [0, 0, 1, -3421, 6333],
 [0, 0, 1, 3405, 6551],
 [0, 0, 0, -2907, 413],
 [0, 0, 0, -2649, 2205],
 [0, 0, 1, -2909, 3217],
 [0, 0, 1, 2937, -2203],
 [0, -1, 1, -3935, 4251],
 [0, -1, 1, -3165, 149],
 [0, -1, 1, 3675, 153],
 [0, 0, 0, -7005, 153],
 [0, -1, 1, -3017, 283],
 [0, 0, 1, -2189, 9],
 [0, 0, 1, 2143, 2193],
 [0, -1, 1, 7769, 6291],
 [0, 0, 1, -2943, -2207],
 [0, -1, 1, 2905, 2199],
 [0, -1, 1, -2895, 2203],
 [0, 0, 0, -2891, 157],
 [0, 0, 1, -2649, 153],
 [0, 0, 0, -2911, 6559],
 [0, 0, 0, 2911, 2193],
 [0, 0, 1, -2383, 6293],
 [0, -1, 1, -2941, -4253],
 [0, 0, 0, 2143, 4245],
 [0, 0, 1, -3035, 2193],
 [0, 0, 1, 2649, 6297],
 [0, 0, 1, -3917, 2077],
 [0, 0, 0, -2907, 6301],
 [0, 0, 1, -2587, 6299],
 [0, 0, 0, 3967, -4249],
 [0, 0, 1, 3913, 2205],
 [0, -1, 1, -2907, 2207],
 [0, -1, 1, 3961, -2205],
 [0, 0, 1, 3951, -153],
 [0, 0, 1, 3677, 2201],
 [0, -1, 0, -2941, -2207],
 [0, 0, 1, 2685, -2077],
 [0, -1, 1, -2905, 153],
 [0, 0, 1, 2655, 2235],
 [0, 0, 1, -3027, 6553],
 [0, 0, 1, -2141, 2205],
 [0, 0, 1, 3929, 7325],
 [0, 0, 0, -3659, 6303],
 [0, 0, 1, 2909, 4241],
 [0, 0, 0, -2911, 4241],
 [0, 0, 0, -3931, 221],
 [0, 0, 0, -2943, -2195],
 [0, -1, 1, -2397, 6559],
 [0, -1, 1, 2907, 155],
 [0, 0, 1, 3707, -4253],
 [0, 0, 1, 2907, 2197],
 [0, 0, 0, 2399, 6299],
 [0, 0, 0, -2893, 145],
 [0, 0, 0, -2399, 4245],
 [0, -1, 0, -3659, 6297],
 [0, -1, 0, -3035, 2075],
 [0, 0, 0, -2655, 6289],
 [0, -1, 1, 2511, 6299],
 [0, 0, 1, 3439, -6303],
 [0, -1, 1, -3929, 2463],
 [0, -1, 1, -2927, -3229],
 [0, 0, 1, -2927, -2205],
 [0, 0, 1, 3711, -6293],
 [0, 0, 1, 2939, -2237],
 [0, -1, 1, 2891, 3231],
 [0, 0, 0, 2911, 3741],
 [0, 0, 1, -2259, 2195],
 [0, 0, 0, -2649, 2205],
 [0, 0, 0, 2377, 2203],
 [0, 0, 1, -2907, 6289],
 [0, 0, 1, 3711, -6297],
 [0, 0, 1, 3947, -185],
 [0, 0, 1, -2911, 6289],
 [0, 0, 0, -2905, 2461],
 [0, -1, 0, -1883, 2199],
 [0, 0, 0, 857, 6303],
 [0, 0, 1, 2377, 2205],
 [0, 0, 1, 3967, -2205],
 [0, 0, 1, -2939, -6299],
 [0, 0, 0, -2941, -2197],
 [0, -1, 0, -3071, -2453],
 [0, 0, 0, 2909, 2329],
 [0, 0, 1, -3033, 6299],
 [0, -1, 0, -2909, 6293],
 [0, 0, 0, -2907, 7323],
 [0, 0, 1, -6489, 2203],
 [0, 0, 1, 3677, 2205],
 [0, 0, 0, -3165, 2207],
 [0, -1, 0, 3419, 2205],
 [0, 0, 1, -2895, 6297],
 [0, 0, 0, -2397, 17],
 [0, 0, 1, -4059, 2201],
 [0, 0, 0, -2909, 2075],
 [0, 0, 1, 3545, 4121],
 [0, 0, 0, 2905, 2205],
 [0, 0, 0, -2941, -147],
 [0, 0, 1, 2649, 2205],
 [0, -1, 1, -2651, 4509],
 [0, 0, 0, -2911, 2203],
 [0, 0, 1, -2397, 153],
 [0, 0, 1, -3039, 6299],
 [0, -1, 1, 2921, -159],
 [0, -1, 1, 2907, 2193],
 [0, -1, 1, -3421, 2205],
 [0, 0, 1, 2895, 2073],
 [0, -1, 1, 2911, 2197],
 [0, 0, 0, -3423, 2207],
 [0, 0, 1, -4063, 2195],
 [0, -1, 1, -2843, 6303],
 [0, 0, 1, 2123, 1183],
 [0, 0, 1, 2655, 4249],
 [0, -1, 1, 2891, 2207],
 [0, -1, 0, 3929, 2193],
 [0, -1, 1, 2905, 153],
 [0, 0, 1, -3933, 2197],
 [0, 0, 1, 2925, -2199],
 [0, 0, 1, 3037, 144],
 [0, -1, 0, 2933, -2203],
 [0, 0, 1, -2397, 2067],
 [0, 0, 0, 3919, 3101],
 [0, 0, 1, -2939, -2197],
 [0, -1, 0, -2907, 31],
 [0, 0, 0, -2651, 6301],
 [0, 0, 1, -3929, 151],
 [0, 0, 1, -3929, 2205],
 [0, 0, 0, -2911, 6299],
 [0, 0, 1, -3929, 2207],
 [0, 0, 1, -2649, 145],
 [0, -1, 1, -3401, 2199],
 [0, 0, 1, -2937, -6289],
 [0, 0, 0, -2907, 153],
 [0, 0, 1, 3039, 2459],
 [0, 0, 1, 2939, -157],
 [0, -1, 1, -2895, 6303],
 [0, 0, 1, 2907, 6303],
 [0, -1, 1, 2909, 4253],
 [0, 0, 1, -2895, 6297],
 [0, 0, 1, -3583, -4249],
 [0, 0, 0, 2397, 2201],
 [0, 0, 0, -2861, -2069],
 [0, -1, 1, -3931, 2335],
 [0, -1, 1, 2907, 6290],
 [0, -1, 1, -2909, 413],
 [0, 0, 0, 2397, 4249],
 [0, 0, 1, 2907, 153],
 [0, 0, 0, -2905, 159],
 [0, 0, 1, -2909, 2201],
 [0, 0, 1, 2943, -2193],
 [0, 0, 1, 2891, 159],
 [0, -1, 0, -3017, 2195]]

### Check to see how many are u

In [111]:
curves = pd.DataFrame(extract(generator(noise)))

/local/scratch/jcox22/anaconda3/envs/pytorch110/lib/python3.9/site-packages/torch/nn/functional.py:1806: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")

In [112]:
curves

     0  1  2     3     4
0    0  0  1 -3035  6549
1    0  0  1 -3657  3229
2    0  0  1  2655   155
3    0 -1  1 -2651  2203
4    0  0  1  2429 -2195
..  .. .. ..   ...   ...
251  0  0  0 -2905   159
252  0  0  1 -2909  2201
253  0  0  1  2943 -2193
254  0  0  1  2891   159
255  0 -1  0 -3017  2195

[256 rows x 5 columns]

In [113]:
curves.drop_duplicates()

     0  1  2     3     4
0    0  0  1 -3035  6549
1    0  0  1 -3657  3229
2    0  0  1  2655   155
3    0 -1  1 -2651  2203
4    0  0  1  2429 -2195
..  .. .. ..   ...   ...
251  0  0  0 -2905   159
252  0  0  1 -2909  2201
253  0  0  1  2943 -2193
254  0  0  1  2891   159
255  0 -1  0 -3017  2195

[253 rows x 5 columns]